.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--dark-grey);
    border-radius: 10px;
    overflow: hidden;
}

.msg {
  color: var(--primary-white);
}