.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: var(--primary-white);
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 2rem;
  background-color: var(--bg-dark-grey);
  width: 30rem;
  height: fit-content;
  gap: 1rem;
}

.loginContainer p, .loginContainer h1 {
  color: var(--bg-dark-grey);
}

.loginContainer button {
  color: var(--bg-dark-grey);
  font-size: 12px;
  padding: 0.5rem;
  transition: 0.1s all;
  line-height: 1.5rem;
}

.loginContainer button:hover {
  background-color: rgb(200, 200, 200);
}