.map {
  display: grid;
  overflow: hidden;
}
.map .inset {
  display: flex;
  margin: 0.5rem;
  justify-content: space-between;
  gap: 3px;
  z-index: 9999;
  overflow: hidden;
}

.map .bwSection {
  background-color: var(--dark-grey);
  border-bottom: 3px solid var(--primary-white);
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  height: 100%;
  overflow: scroll;
}