.map {
  overflow: hidden;
}
.map .inset {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  gap: 3px;
  width: 20%;
  z-index: 9999;
  overflow: hidden;
}

.map .bwSection {
  background-color: var(--dark-grey);
  border-bottom: 3px solid var(--primary-white);
  color: var(--primary-white);
  padding: 0.5rem 1rem;
  overflow: scroll;
}