.rankingStage {
  height: 100%;
  width: 100%;
  background-color: var(--accent-blue);
  border-radius: 6px;
  padding: 0.5rem;
  display: flex;
  overflow: auto;
}

.rankingStage .centerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 1rem;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  overflow: scroll;
}

.rankingStage .bwSection {
  background-color: var(--dark-grey);
  border-bottom: 3px solid var(--primary-white);
  color: var(--primary-white);
  padding: 1rem 1rem;
}

.ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ranking ol {
  width: 100%;
}

.ranking li {
  display: flex;
  list-style: none;
  padding: 0.5rem;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.ranking .rankNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: lightgrey;
}

.ranking .rankNumber span {
  font-size: 14px;
  color: var(--dark-grey);
}

.ranking .sortHandle {
  color: var(--accent-blue);
}