input[type=range] {
  appearance: none;
  width: 100%;
  height: 0.2rem;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track:active {
  cursor: grabbing;
}
input[type=range]::-webkit-slider-thumb {
  height: 1.5rem;
  width: 0.3rem;
  background-color: var(--accent-blue);
  cursor: grab;
  -webkit-appearance: none;
  
}
input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

output {
  margin: -0.5rem 0 0 0.5rem;
}
.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 300;
}
.text-xxs {
  font-size: 0.750rem; /* 10px */
  line-height: 1; /* Adjust line-height if necessary */
}
