input[type=range] {
  appearance: none;
  width: 100%;
  height: 0.2rem;
  position: relative;
  margin-left: -0.1px;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  z-index: 1;
}
input[type=range]::-webkit-slider-runnable-track:active {
  cursor: grabbing;
}
input[type=range]::-webkit-slider-thumb {
  height: 1.5rem;
  width: 0.3rem;
  background-color: #fff;
  cursor: grab;
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  
}
input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

output {
  margin: -0.5rem 0 0 0.5rem;
  font-size: 0.8rem;
}
.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-weight: 300;
}
.text-xxs {
  font-size: 0.750rem; /* 10px */
  line-height: 1; /* Adjust line-height if necessary */
}

.tick {
  width: 1.8px; /* Width of the tick mark */
  height: 10px; /* Height of the tick mark */
  background-color: #fff;
  position: absolute;
  top: 21px; /* Position above the slider */
  z-index: 1;
}
